<h1>新規ユーザー作成フォーム</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_with model: @user, url:users_path, method: :post do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <%= f.submit "作成" %>
<% end %>