/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.scroll{
  overflow-x: scroll;
}

table{
  /*width: 100%;*/
  /*white-space: pre;*/
  /*table-layout: fixed;*/
  min-width: 400px;
  
}

.sel{
  /*width: 100px;*/
  background-color: #d6d8db;
  white-space: nowrap;
}
.one{
  /*width: 250px;*/
  background-color: #d6d8db;
  white-space: pre;
}
.moku{
  /*width: 500px;*/
  background-color: #87ceeb;
  white-space: nowrap;
}

.waku{
  display: block;
  width: 1000px;
  height: 500px;
  border: solid 3px;

  
}
.box{
  display: block;
  margin: 50px auto;
  width: 800px;
  height: 400px;
  background-color: #66cdaa;

}

 @media screen and (max-width:960px){
  .sel{
    
    background-color: #ff00ff;
    white-space: nowrap;
  }
  
 }